*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Karla", sans-serif;
  line-height: 1.8; }

.container {
  width: 50vw;
  border: 1px solid black;
  justify-self: center;
  align-self: center; }

.header {
  background-color: #fff;
  padding: 2.5rem; }

.bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.subscription {
  background-color: #2ab2af;
  padding: 2.5rem; }

.heading--1 {
  color: #2ab2af; }

.heading--2-yellow {
  color: #c0df34; }

.heading--2-light-gray {
  color: #e5eff5; }

.paragraph--grayish-blue {
  color: #98a6bd; }

.paragraph--light-gray {
  color: #e5eff5; }

.price {
  font-weight: 700;
  font-size: 2rem; }

.btn {
  background-color: #c0df34;
  color: #e5eff5;
  width: 100%;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: .2rem;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  cursor: pointer;
  transition: all .3s;
  margin-top: 3rem; }
  .btn:hover {
    transform: scale(1.2);
    color: white; }

.why-us {
  background-color: rgba(42, 178, 175, 0.7);
  padding: 2.5rem; }
  .why-us--list {
    list-style-type: none;
    color: rgba(255, 255, 255, 0.8); }
