$color-primary-cyan: hsl(179, 62%, 43%);
$color-primary-bright-yellow:hsl(71, 73%, 54%);

$color-neural-light-gray:hsl(204, 43%, 93%);
$color-neural-grayish-blue:hsl(218, 22%, 67%);

$color-white:#fff;

$font-primary: "Karla", sans-serif;

$bp-tablet:62.5em; //1000px 1em= 16px
$bp-small-tablet:31.25em; //500px 
$bp-mobile:23.4375em;